{% extends "./page.html" %}

{% block body %}
<div class="pdf-footer">
    <span>(c) {{ book.author }}</span>
    <span>{{ page.section }}</span>
    <span class="footer-pages-count">{{ page.num }}</span>
    <span>update</span>
</div>
{% endblock %}
